.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #181818;
    opacity: 90%;
}
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #333333;
    height: 10%;
}
p{
    color: white;
}
body, html {
    height: 50%;
    font-family:'Karla', sans-serif;
}
.semua .ukuran{
    background-color: #0A0000;
    width: 375px;
    height: 763px;
}
.header{
    background-color: #CC964E;
    width: 375px;
    height: 80px;
    margin-bottom: 48px;
}
.header img{
    width: 25px;
    height: 25px;
}
.header p{
    font-size: 24px;
    margin: 0;
    color: white;
}
.yaitu{
    margin-left: 14.5%;
}
.title h5{
    color: white;
    margin: 0;
    font-size: 24px;
}
.Orderloc{
    width: 346px;
    height: 211px;
    margin-top: 14px;
}
.Orderloc p{
    margin-left: 5px;
    width: 258px;
    height: 32px;
    font-size: 14px;
    color: white;
}

label{
    color: white;
}

input[type=text]::placeholder{
    color: #AEAEAE;
    
}
input[type=text]{
    color: white;
    background-color: #343434;
    border-color: #343434;
}
.bg-gray{
    background-color: #343434;
    border-color: #343434;
}
h1{
    font-size: 36px;
}

.boldline{
    width: 375px;
    border-bottom: white 2px solid;
}
.E-wallet p{
    margin: 0;
}
.img{
    margin-left: 22px;
}
.desc{
    margin-left: 24px;
}
button[type=button]{
    width: 375px;
    background-color: #0A0000;
    border-bottom: 1px #666666 solid;
}
.butcontent{
    padding-top: 13px;
    padding-bottom: 13px;
}
.title{
    margin-top: 22px;
    margin-left: 22px;
}
.butcontentbri{
    padding-top: 10px;
    padding-bottom: 10px;
}
.descbca{
    margin-left: 23px;
}
.descmandiri{
    margin-left: 12px;
}
.descbri{
    margin-left: 44px;
}
button[type=buttonorder]{
    margin-top: 40px;
    width: 200px;
    height: 64px;
    border-radius: 15px;
    background-color: #CC964E;
    border-bottom: 1px #666666 solid;
}