.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #181818;
    opacity: 90%;
}
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #333333;
    height: 10%;
}
body, html {
    height: 100%;
    font-family:'Karla', sans-serif;
}
.semua {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 375px 812px;
    height: 107%;
}
.password{
    text-decoration: none;
    color: white;
}
.bottom li {
    list-style: none;
}
.content a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
.semua .ukuran{
    background-color: #181818;
    width: 375px;
    height: 100%;
}
.haha {
    display: flex;
    width: 375px;
    padding: 4%;
    background-color: #F2AA4c;
}
.haha img {
    padding-top: 35%;
    padding-left: 1%;
}
.hihi {
    justify-content: center;
    padding-left:20%;
    font-family:'Karla', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 2%;
    color: white;
}
.pb-4 text {
    font-family:'Karla', sans-serif;
    font-size: 24px;
    margin-left: 10%;
    color: white;
}
input[type=text]{
    background: #1A1E1E;
    border-color: black;
    padding: 5%;
}
.orderlocation button {
    width: 100%;
    margin-top: -6%;
}
.bengkel button {
    width: 100%;
    text-align: left;
}
.albertkeice img {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}